name: build

on:
  push:
    branches: [ main, dev ]
    paths-ignore: [ '**.svg' ]
  pull_request:
    branches: [ main, dev ]
    paths-ignore: [ '**.svg' ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Run Python unit tests
      run: |
        python3 -u -m unittest tests/tests.py
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Verify that the Docker image for the action builds
      run: docker build . --file Dockerfile

    - name: Integration test
      id: integration
      uses: ./
      with:
        colors: dark
        commit-and-push: false
        #fail-on-error: false
        #category-order: general, repositories, languages, contributions
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Output the outputs of the integration test of the action
      run: |
        echo "exit-code = ${{ steps.integration.outputs.exit-code }}"

    - name: Upload generated SVG as a workflow artifact for inspection if necessary
      uses: actions/upload-artifact@v2
      with:
        name: generated-image
        path: images/userstats.svg
