name: 'Close stale PRs'
on:
  schedule:
    - cron: '45 1 * * *'

permissions:
  pull-requests: write
  
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          stale-pr-message: 'This PR has been automarked as stale for 30 days of inactivity, and will autoclose if still inactive in 5 days.'
          close-pr-message: 'Autoclosing this stale PR.'
          days-before-stale: 30
          days-before-close: 5
